<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.chem.clustering.business.ClusteringManagerFactory"
            id="net.bioclipse.chem.clustering.business.ClusteringManager">
      </scriptContribution>
   </extension>

</plugin>
